@font-face {
    font-family: nasa;
    src: url(/storage/fonts/Roboto/Roboto-Regular.ttf);
}



* {
    margin: 0;
    font-family: nasa;
    color: white;
}


body {
    background: rgb(22,23,68);
    background: linear-gradient(180deg, rgba(22,23,68,1) 47%, rgba(83,84,121,1) 79%, rgba(175,176,192,1) 100%);
    overflow: hidden;
}


.gridContainer {
    display: grid;
    grid-template-rows: repeat(13, calc(100% / 13)); 
    grid-template-columns: repeat(18, calc(100% / 18)); 
    height: 100vh;
    width: 100vw;
    padding: 0px;
    gap: 1px;
}

#infoEtapa1{
    margin-bottom: 40px;
}

.item {
    background-color: gray ;
    display: flex;
}

#item1 {
    grid-column: span 18;
}

#item2 {
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    grid-row: span 9;
}

#item4 {
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    justify-content: center;
    align-items: center;
    grid-column: span 4;
    grid-row: span 9;
}

#item3 {
    grid-column: span 11;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
}

#item16,
#item18 {
    grid-column: span 5;
    grid-row: span 3;
}

#item17 {
    grid-column: span 8;
    grid-row: span 2;
}

#item6 {
    grid-column: span 2;
    grid-row: span 3;
}

#item7 {
    grid-column: span 3;
    grid-row: span 3;
}

#item8 {
    grid-column: span 2;
    grid-row: span 3;
}

#item9 {
    grid-column: span 2;
    grid-row: span 3;
}

#item11 {
    grid-column: span 3;
    grid-row: span 5;
}

#item12,
#item10 {
    grid-column: span 4;
    grid-row: span 2;
}

#item14 {
    grid-column: span 4;
    grid-row: span 3;
}

#item15 {
    grid-column: span 18;
    grid-row: span 1;
}

#item5 {
    grid-column: span 2;
    grid-row: span 3;
}

#item13 {
    grid-column: span 4;
    grid-row: span 3;
}



button {
    padding: 12px 24px;
    border: none;
    border-radius: 2px;
    background: #424242;
    color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1) inset,
      0 0 0 1px rgba(0, 0, 0, .7),
      0 -1px 0 0 rgba(0, 0, 0, .7) inset,
      0 1px 2px 1px rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: 50ms ease-out;
    font-weight: 600;
  }
  
  button:hover, button:focus, button:focus-visible {
    background: #353535;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .05) inset,
      0 0 0 1px rgba(0, 0, 0, .7),
      0 -1px 0 0 rgba(0, 0, 0, .7) inset,
      0 1px 2px 1px rgba(0, 0, 0, .6);
    border: none;
    outline: none;
  }
  
  button:active {
    background: #181818;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .7) inset,
      0 1px 0 0 rgba(255, 255, 255, .05),
      0 1px 2px 1px rgba(0, 0, 0, .6) inset;
  }

#abajo {
    position: fixed;
    width: 45vw;
    height: 100px;
    display: flex;
    align-self: end;
  }

  a img {
    position: absolute;
    bottom: 25px;
    width: 50px;
    height: 50px;
    align-self: end;
    z-index: 1;
  }

  #rocketIcon {
    margin-left: 7.5vw;
    align-self: end;
    z-index: 1;
  }

  #capsuleIcon {
    margin-left: 15.5vw;
    align-self: end;
    z-index: 1;
  }

  #historyIcon {
    margin-left: 23.5vw;
    align-self: end;
    z-index: 1;
  }

  #companyIcon {
    margin-left: 32vw;
    align-self: end;
    z-index: 1;
  }

p {
    font-size: 20px;
}


#item16 {
    display: flex;
    justify-content: space-around  ;
}
  
.icon {
    margin-bottom:1%;
}
  #iconf {
    width: 3vw;
  }
  #icont{
    width: 5vw;
  }
  #icons{
    width: 5vw;
  }

